{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="/static/css/reset.css" rel="stylesheet" type="text/css"> -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    {{template "head" .}}
</head>
<body>
<main id="page-wrap">
    {{template "body" .}}
</main>
<script src="/static/js/main.js"></script> 
</body>
</html>
{{end}}