{{define "head"}}
<title>{{.Title}}</title>
{{end}}


{{define "body"}}
{{range .Topics}}
<div>
    <h1>{{.Name}}</h1>
    <p>{{.Extract}}</p>
</div>
{{end}}

{{range .Articles}}
<div>
    <h1>{{.Title}}</h1>
    <p>Votes: {{.Votes}}</p>
    <p>Views: {{.Views}}</p>
</div>
{{end}}

{{end}}