{{define "head"}}
<title>New topic search: {{.Query}}</title>
{{end}}

{{define "body"}}
<h1>New topic</h1>

<form method="GET">
    <input type="search" name="query" autocomplete="off" value="{{.Query}}" placeholder="Search Wikipedia" required>
    <input type="submit" title="Search Wikipedia">
</form>

{{range .WikiPages}}
<div>
    <h2><a href="https://en.wikipedia.org/wiki/{{.Title}}" target="_blank" rel="noopener noreferrer">{{.Title}}</a></h2>
    <p>Description: {{.Extract}}</p>
    <p>Views: {{.TotalViews}}</p>
    <form method="POST" action="/topic/new">
        <input type="hidden" name="id" value="{{.WikipediaID}}">
        <input type="submit">
    </form>
</div>
{{end}}

{{end}}