{{define "head"}}
<title>New topic</title>
{{end}}


{{define "body"}}

<h1>New topic</h1>

{{if .AddedTopic}}
    <p>Succesfully added topic: {{.Topic.Name}}</p>
{{end}}


<form method="GET" action="/topic/new/search">
    <input type="search" name="query" autocomplete="off" placeholder="Search Wikipedia" required>
    <input type="submit" title="Search Wikipedia">
</form>

{{end}}